language: php

php: 
  - '7.3'

cache: 
  directories:
    - $HOME/.composer/cache

install: 
  - composer install  

before_script: true

script:
  - ./vendor/bin/php-cs-fixer fix --dry-run --diff --verbose
  - phpunit tests

after_script: true

deploy:
  provider: heroku
  api_key:
    secure: "136913e6-a006-462b-8758-0f4d7421b2c7"
   app: infinite-ocean-30547
