language: php

php: 
  - '7.3'



install: 
  #- composer require friendsofphp/php-cs-fixer --dev
  - composer install  

before_script:
  - mkdir -p "$HOME/.php-cs-fixer"
  - mkdir -p build/logs

script:
  - .vendor/bin/php-cs-fixer fix --dry-run --diff --verbose
  - phpunit tests

after_script: true

#travis cahce